<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Docs" connectionString="Data Source=localhost;Initial Catalog=DocsMain;User Id=Docs;Password={fhbcjdcrfpfk3!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="Log" connectionString="Data Source=localhost;Initial Catalog=DocsLog;User Id=Docs;Password={fhbcjdcrfpfk3!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="Client" connectionString="Data Source=localhost;Initial Catalog=DocsClient;User Id=Docs;Password={fhbcjdcrfpfk3!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ESURL" value="http://localhost:9200"/>
    <add key="Encoding" value="UTF-8"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>